<cdk-virtual-scroll-viewport class="scroll" itemSize="90" >

  <div *cdkVirtualFor="let planet of planets" class="container row">

      <div class="item-left">
        <img src = "assets/img/{{planet.imageURL}}.png">
        <h3 class="planet-name">
            {{ planet.name }}
        </h3>
      </div>

      <form [formGroup]="updateForm" (ngSubmit)="onSubmit($event)" class="update-form">

        <input type="hidden" [value]="planet.id">
        <div class="item-middle">
            <textarea *ngIf="planet.description" class="description" name="description" formControlName="description" [value]="planet.description"></textarea>

            <p *ngIf="planet.team.captain">
              <span class="captain-label">by captain </span><span class="captain-name">{{ planet.team.captain.name }}</span>
            </p>
        
            <div *ngIf="planet.team.robots">
              <span class="robots-label">Robots: </span>
              <span *ngFor="let robot of planet.team.robots; let last = last;">
                {{ robot.name }}<span *ngIf="!last">,</span>
              </span>
            </div>
            <button type="submit">Update</button>
        </div>

        <div class="item-right">
          <div class="box">
            <select onchange="this.style.color=this.options[this.selectedIndex].style.color" formControlName="status" [value]="planet.status" [style.color]="statusColors[planet.status]">
                <option *ngFor="let status of statuses" [style.color]="statusColors[status.value]" [value]="status.value">
                  {{status.viewValue}}
                </option>
            </select>
          </div>
        </div>

      </form>

  </div>

</cdk-virtual-scroll-viewport>