.item-left .item-middle .item-right {
    height: 100%;
    flex-grow: 1;
    text-align: center;
}
  
.item-left {
    width: 130px;
}
  
.item-middle {
    width: 200px;
}
  
.item-right {
    width: 80px;
}

.scroll {
    height: 550px; 
    width: 100%;
}

.row {
    border: solid 1px lightgray;
}

.planet-name {
    margin: 20px;
}

.description {
    width: 180px;
    height: 80px;
    font-size: 16px;
    text-align: justify;
    border: none;
    resize: none;
}

.captain-label {
    font-weight: bold;
    font-size: 14px;
}

.captain-name {
    font-size: 14px;
    text-decoration: underline;
    color: #616161;
}

.robots-label {
    font-weight: bold;
    font-size: 15px;
}

.button-update {
    border-radius: 12px;
    height: 30px;
    width: 60px;
    font-size: 14px;
    margin-top: 60px;
}

.box select {
    background-color: white;
    width: 110px;
    border: none;
    font-size: 20px;
    appearance: none;
}

.update-form {
    display: flex;
    align-items: center;
}